*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --header-background: #212529;
  --header-button: #2082f4;
  --header-span: #fab100;
  --aAmbiental-button: #005b41;
  --aCidadao-button: #3846b1;
  --aContatracao-button: #5a3a86;
  --aGedGov-button: #316191;
  --aLegislativo-button: #009d4d;
  --aSiteGov-button: #01698b;
  --section-instalador-background: #f84233;
  --footer-background: #1d1d1b;
  --font-quick: Quicksand, sans-serif;
  --font-popp: Poppins, sans-serif;
  --font-heeb: Heebo, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 3rem;
  background: var(--header-background);
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.h-nav__menu--desktop {
  display: flex;
  gap: 2rem;
}

.h-nav__menu__item {
  font: 800 0.8rem var(--font-quick);
  color: #ffffff;
}

.h-nav__button {
  color: #ffffff;
}

.start {
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0rem 0rem 0rem;
  height: 100vh;
  position: relative;
}

.start__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-content__p {
  color: #aebfc7;
  font: 500 1rem var(--font-quick);
}

.s-content__h1 {
  font: 700 2.2rem var(--font-popp);
  text-transform: uppercase;
  color: #ffffff;
}

.start__img--absolute {
  position: absolute;
}

#predios {
  width: 100%;
  bottom: 0;
}

#onda {
  bottom: 0;
  width: 100%;
}

.aCards {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: 20rem 20rem 20rem;
  gap: 3rem;
}

.card {
  background: #ffffffff;
  border-radius: 8px;
  border: 1px solid #eaeef1;
  padding: 20px 30px;
  box-shadow: rgba(77, 77, 119, 0.1) 0px;
  height: 270px;
  width: 350px;
  min-height: 270px;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.c-text__h3 {
  font: 700 1.2rem var(--font-popp);
}

.c-text__p {
  font: 300 0.9rem var(--font-popp);
  width: 15rem;
}
